.order {
    border: none;
    display: block;
    background-color: #3330e7;
    color: #fff;
   
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 18px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    padding: 12px;
  }