<header>
    <div class="navbar navbar-dark bg-dark shadow-sm" *ngIf="router.url !== '/login' && router.url !== '/signup'">
      
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 40px;" class=" fas fa-shipping-fast fa-spin fa-3x">&nbsp;
                
            </i>
            <strong style="font-size: 30px;">Sonata E-store</strong>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products">
            </div>
            <span class="fas fa-search search-icon"></span>
         

        </div>
        
      <div>
            <button routerLink="products" class="btn btn-dark">
                <i style="font-size: 30px;" class="fas fa-home float Right"></i>
               
            </button>
          
        

        <button  routerLink="cart" class="btn btn-dark">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
    </div></div>
    
</header>